%html
  %head
    %title NewsroomApril
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.test? && Rails.application.config.try(:fake_location)
      = tag.meta id: :fake_location, content: Rails.application.config.fake_location
  %body
    = render 'layouts/navbar'
    %p= notice
    %p= alert
    = yield
